<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script>
      function copyname() {
        var e = document.getElementById('contentname');
        e.select();
        document.execCommand('copy');
      }
      function copyphone() {
        var e = document.getElementById('contentphone');
        e.select();
        document.execCommand('copy');
      }
      function copyidcard() {
        var e = document.getElementById('contentidcard');
        e.select();
        document.execCommand('copy');
      }
      function copycompanycode() {
        var e = document.getElementById('contentcompanycode');
        e.select();
        document.execCommand('copy');
      }
    </script>
</head>
<body>

<p>获取信息如下：</p>
<p>姓名：<textarea  id="contentname">{{name}}</textarea >
<input type="button" onclick="copyname();" value="点击复制"></input></p>
<p>电话号码：<textarea id="contentphone">{{phone}}</textarea>
<input type="button" onclick="copyphone();" value="点击复制"></input></p></p>
<p>身份证号：<textarea  id="contentidcard">{{idcard}}</textarea >
<input type="button" onclick="copyidcard();" value="点击复制"></input></p>
<p>香港居民居住证：{{hkidcard}}</p>
<p>澳门居民居住证：{{mcidcard}}</p>
<p>台湾居民居住证：{{twidcard}}</p>
<p>普通护照：{{passport}}</p>
<p>香港居民来往内地通行证：{{hkeepft}}</p>
<p>澳门居民来往内地通行证：{{mceepft}}</p>
<p>统一社会信用代码：<textarea  id="contentcompanycode">{{companycode}}</textarea >
<input type="button" onclick="copycompanycode();" value="点击复制"></input></p>
<a href="javascript:location.reload();">点击重新获取</a>
</body>
</html>
